<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudo Flask</title>
</head>
<body>
    <div>
        <h3>Estudo Flask</h3>
        <h5>Primeiro Site Deployed</h5>
    </div>
    <div>
        <p>Parabens {{context.usuario}}! voce conseguiu</p>
        <p>Voce tem {{context.idade}} anos</p>
    </div>
    <div>
        <a href="{{url_for('formulario')}}">Formulario</a>
    </div>
</body>
</html>